# Autotools
/configure
/config.h
/config.h.in
/config.log
/config.status
/config
/aclocal.m4
/autom4te.cache
/libtool
.deps/
.libs/
*.la
*.lo
*.a
*.o
*.exe
GNUmakefile
Makefile
Makefile.in
stamp-*
/distribute.mk

# Autotest
/tests/package.m4
atconfig
atlocal
testsuite
testsuite.log
testsuite.dir

# Binaries
/src/sciteco
/src/sciteco-minimal

# Generated source files
/src/symbols-scintilla.c
/src/symbols-scilexer.c

# Generated documentation
/doc/sciteco.[17]
/doc/sciteco.7.in
/doc/grosciteco.tes.1
/doc/tedoc.tes.1
/doc/*.intermediate
/doc/*.woman*
/doc/*.htbl
/doc/*.html

/doc/Doxyfile
/doc/doxygen
