# Autotools
/configure
/config.h
/config.h.in
/config.log
/config.status
/config
/aclocal.m4
/autom4te.cache
/libtool
.deps/
.libs/
*.la
*.lo
*.a
*.o
*.exe
Makefile
Makefile.in
stamp-*
/src/sciteco
/src/sciteco-minimal

# Generated code
/doc/sciteco.[17]
/doc/sciteco.[17].html
/doc/sciteco.7.in
/doc/sciteco.7.htbl
/doc/Doxyfile
/doc/doxygen

/src/gtk-info-popup*.[ch]
/src/symbols-scintilla.cpp
/src/symbols-scilexer.cpp

# Backups
*~
# SciTECO save points
.teco-*-*
