# Autotools
/configure
/config.h
/config.h.in
/config.log
/config.status
/config
/aclocal.m4
/autom4te.cache
/libtool
.deps/
.libs/
*.la
*.lo
*.a
*.o
*.exe
Makefile
Makefile.in
stamp-*
/distribute.mk

# Autotest
/tests/package.m4
atconfig
atlocal
testsuite
testsuite.log
testsuite.dir

# Binaries
/src/sciteco
/src/sciteco-minimal

# Generated source files
/src/interface-gtk/gtk-info-popup.[ch]
/src/interface-gtk/gtk-canonicalized-label.[ch]
/src/symbols-scintilla.cpp
/src/symbols-scilexer.cpp

# Generated documentation
/doc/sciteco.[17]
/doc/sciteco.[17].html
/doc/sciteco.7.in
/doc/sciteco.7.htbl
/doc/Doxyfile
/doc/doxygen
