/*
 * This CSS will loaded as a fallback if there is no
 * $SCITECOCONFIG/.teco_css.
 * It tries to apply the current SciTECO color scheme
 * by using predefined variables (see sciteco(7)).
 * This may cause problems with your current Gtk theme.
 * You can copy this file to $SCITECOCONFIG/.teco_css
 * to fix it up or add other style customizations.
 * You could of course also import it using
 * @import "/usr/share/sciteco/fallback.css";
 *
 * NOTE: Avoid using CSS element names like GtkLabel
 * since Gtk switched from type names to custom names
 * in Gtk+ v3.20 and it is impossible/cumbersome to
 * write a CSS compatible with both.
 */

/*
 * The info or title bar (#sciteco-info-bar).
 * The following classes are defined:
 *   - info-qregister: The title bar if a QRegister is edited
 *   - info-buffer: The title bar if a buffer is edited
 *   - dirty: The title bar for dirty buffers
 *   - type-label: The label showing the current document type
 *   - name-label: THe label showing the current document name
 */
.info-buffer, .info-qregister {
	background-color: @sciteco_default_fg_color;
	background-image: none;
}

.info-buffer *, .info-qregister * {
	color: @sciteco_default_bg_color;
	text-shadow: none;
}

.type-label {
	font-variant: small-caps;
	font-weight: 300; /* light */
}

.info-buffer.dirty .name-label {
	font-style: italic;
}

/*
 * The message bar (#sciteco-message-bar).
 *
 * The "question" class refers to GTK_MESSAGE_QUESTION.
 * This is used for showing user-level messages for the sole
 * reason that there is no class for GTK_MESSAGE_OTHER that
 * we could use for styling.
 */
#sciteco-message-bar .label {
	color: @sciteco_default_bg_color;
	text-shadow: none;
}

#sciteco-message-bar * {
	background-image: none;
}

#sciteco-message-bar.question * {
	background-color: @sciteco_default_fg_color;
}
#sciteco-message-bar.info * {
	background-color: green;
}
#sciteco-message-bar.warning * {
	background-color: yellow;
}
#sciteco-message-bar.error * {
	background-color: red;
}

/*
 * The command line area (#sciteco-cmdline)
 */
#sciteco-cmdline {}

/*
 * The autocompletion popup (#sciteco-info-popup).
 * The following classes are defined:
 *   - highlight: A highlighted popup entry
 */
#sciteco-info-popup {
	background-color: @sciteco_calltip_bg_color;
	background-image: none;
}

#sciteco-info-popup .label {
	color: @sciteco_calltip_fg_color;
	text-shadow: none;
}

#sciteco-info-popup .highlight .label {
	font-weight: bold;
}
