#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

build:
	dh_testdir
	dh_auto_configure -- \
			  --enable-bootstrap \
			  --with-interface=ncurses
	dh_auto_build
	touch $@

clean:
	dh_testdir
	dh_auto_clean
	dh_clean
